Template for Acta Acustica united with Acustica Journal.zip
parallel-4.0.0.tar.gz
1330Day28.pdf
conics.pdf
symbolic-win-py-bundle-2.9.0.tar.gz
symbolic-2.9.0.tar.gz
0906.3884 (1).pdf
0906.3884.pdf
apd_wind.pdf
stellarengines.pdf
Stellar_Engines.pdf
paraboloid_testing.m
Simulation_Accuracy.m
optim-1.6.0.tar.gz
self_acceleration_x_max.mat
self_acceleration_x_max_2.mat
self_acceleration_x_max_3.mat
self_acceleration_x_max_different_F.mat
self_acceleration_y_max.mat
self_acceleration_y_max_2.mat
self_acceleration_y_max_3.mat
self_acceleration_y_max_different_F.mat
self_acceleration_z_max.mat
self_acceleration_z_max_2.mat
self_acceleration_z_max_3.mat
self_acceleration_z_max_different_F.mat